<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="Magento_Catalog::catalog_inventory" title="Inventory" translate="title" sortOrder="10">
                        <resource id="O2TI_ShopByBrand::page" title="Brand" translate="title" sortOrder="10">
                            <resource id="O2TI_ShopByBrand::save" title="Save Brand" translate="title" sortOrder="10">
                                <resource id="O2TI_ShopByBrand::save_design" title="Edit Brand Design" translate="title" />
                            </resource>
                            <resource id="O2TI_ShopByBrand::page_delete" title="Delete Brand" translate="title" sortOrder="20" />
                        </resource>
                        <resource id="O2TI_ShopByBrand::media_gallery" title="Media Gallery" translate="title" sortOrder="70" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="O2TI_ShopByBrand::config_cms" title="Content Management" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
